# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.pytest_cache/*
.cache/*
.*.swp
.*goutput*

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
.python-version

# Package files
*.egg
.installed.cfg
*.egg-info
.eggs/*

# Unittest and coverage
htmlcov/*
.coverage
.tox
junit.xml
coverage.xml

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/_rst/*
docs/_build/*
docs/_static/*
docs/.ipynb_checkpoints/*
docs/**/Thumbs.db
cover/*
MANIFEST

# ignore ISMN metadata files as they are different on win/linux
*/python_metadata/*
# ignore local working scripts
local_scripts/*
