language: python
sudo: false
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start
addons:
  apt:
    packages:
      - gfortran
      - gcc
      - libgrib-api-dev
notifications:
  email: false
python:
  # We don't actually use the Travis Python, but this keeps it organized.
  - "2.7"
  - "3.5"
  - "3.6"
install:
  # You may want to periodically update this, although the conda update
  # conda line below will keep everything up-to-date.  We do this
  # conditionally because it saves us some downloading if the version is
  # the same.
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget http://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a

  - conda create -q -n test-environment -c conda-forge python=$TRAVIS_PYTHON_VERSION numpy scipy pandas netCDF4=1.2.4 cython pytest pip matplotlib basemap pybufr-ecmwf pykdtree pyresample
  - source activate test-environment
  - pip install pygrib==1.9.9
  - pip install pygeogrids
  - pip install pygeobase
  - pip install ascat
  - python setup.py install
  - pip list
  - which pip
  - which python

script:
  - python setup.py test
after_success:
  # report coverage results to coveralls.io
  - pip install coveralls
  - coveralls
