# List of conda and pip packages that should be installed when developing the packages
# To create the full conda environment: conda env create -f environment.yml
name: pytesmo
channels:
  - conda-forge
  - defaults
dependencies:
  - numpy
  - scipy
  - pandas
  - netCDF4
  - pygrib
  - cython
  - matplotlib
  - pykdtree
  - pyresample
  - cartopy
  - numba
  - nb_conda
  - ipykernel
  - pip
  - pip:
    - pynetcf
    - pygeogrids
    - pynetcf
    - pygeobase
    - ascat>=2.0
    - ismn==0.4
    - repurpose
    - pytest
    - pytest-cov
    - pytest-mpl
    - more_itertools
    - cadati
    - pre-commit
    - flake8
    - build
    - sphinx_rtd_theme
    - nbsphinx
    - pyparsing<=2.4.7
