include *.txt *.rst
recursive-include docs *.txt *.html *.css *.png *.gif *.js *.rst *.py *.ipynb
recursive-include pytesmo *.pyx *.cmap
recursive-include tests *.py *.dat *.stm *.txt *.buf *.grib
recursive-include examples *.py
include versioneer.py
include pytesmo/_version.py
