include *.txt
recursive-include docs *.txt *.html *.css *.png *.gif *.js
recursive-include pytesmo *.pyx *.cmap
recursive-include tests *.py *.dat *.stm *.txt *.buf *.grib
recursive-include examples *.py